# すべてを無視
*

# .gitignore自身とREADMEなどは追跡
!.gitignore
!README.md

# .pyと.cファイルは追跡許可
!*.py
!*.c

# python/.venv フォルダはすべて無視
python/.venv-mac/
python/.venv-mac/**
python/.venv-linux/
python/.venv-linux/**
python/.venv-win/
python/.venv-win/**

# ディレクトリ構造を維持（深い階層の .py/.c を許可するため）
#!*/
