# python/.venv フォルダはすべて無視
python/.venv-mac/
python/.venv-mac/**
python/.venv-linux/
python/.venv-linux/**
python/.venv-win/
python/.venv-win/**

requirements.txt
.DS_Store
input.txt
temp.py

*.exe
*.out
*.yml
*.dSYM